.tab-des-dep {
    max-height: 415px;
}

.department h3 {
    border-bottom: 1px solid rgb(0, 153, 255);
    position: relative;
}

.department {
    justify-content: space-evenly;
}

.department .group input {
    width: 100%;
}

.department h3::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border: 8px solid;
    border-color: rgb(0, 153, 255) transparent transparent rgb(0, 153, 255);
    top: 0;
    left: 0;
}

.department>div {
    box-shadow: 6px 8px 12px rgba(0 0 0 / 10%);
}

.department .left-side {
    height: fit-content;
}

button {
    border: none;
    padding: 6px 10px;
}

.delete {
    background-color: #ef5350;
}

.edit {
    background-color: #5c4ac7;
}

svg {
    color: var(--wit-clr);
}

.department-list tr td:first-child {
    line-height: 3;
}

tr {
    font-size: 20px;
}

.btns.depart button {
    color: var(--wit-clr);
    padding: 8px 15px;
    width: 20%;
}

@media (max-width:767px) {
    .btns.depart button {
        width: 50%;
    }
}

table {
    border: 1px solid rgb(123, 123, 123);
}