.card-text {
  flex: 1;
}

.card-text a {
  color: rgb(144, 144, 144);
}

.details-cards {
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.details-cards>div {
  overflow: hidden;
  border-radius: 15px;
}

svg {
  padding: 15px;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  width: 15px;
}

.one h5 {
  margin: 0;
}

.second-card {
  font-size: 20px;
}

.bglimegreen {
  background-color: limegreen;
}

.bglightcoral {
  background-color: rgb(232, 61, 61);
}

.bglightblue {
  background-color: rgb(18, 84, 208);
}

.bgrebeccapurple {
  background-color: rebeccapurple;
}

.details-table table {
  min-width: 700px;
}

.details-table table tr td {
  font-size: 20px;
}

table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgb(206, 51, 51);
}