.logo {

    gap: 10px;
    justify-content: center;
}

@media (max-width:600px) {}

.logo-img {
    width: 120px;
    height: 60px;

}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

aside svg {
    font-size: 20px;
    height: 30px;
    width: 30px;
    color: white;
}

.sett {
    background-color: rgb(0, 0, 0)
}

.log-out {
    background-color: rgb(239, 51, 51);
}

@media (max-width:990px) {
    aside .btns {
        flex-direction: column;
        align-items: center;
    }
}

.links {
    margin: 0;
    padding: 0;
}

.nav-text {
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
    justify-content: center;
}

.nav-text svg,
.drpdwn svg {
    height: 28px;
    width: 28px;
    background: linear-gradient(106.37deg, #fdbe71 29.63%, #fd9397 51.55%, #f990f4 90.85%);
    color: black;
}

.nav-text span {
    flex-basis: 60%;
    font-size: 17px;
}

@media (max-width:600px) {
    aside :is(h4, .logo) {
        font-size: 18px;
    }

    .profile-img {
        width: 50px;
        height: 50px;
    }

    aside .btns svg {
        height: 20px;
        width: 20px;
    }

    .nav-text svg,
    .drpdwn svg {
        height: 18px;
        width: 18px;
    }
}

li {
    transition: 0.3s all;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}

li:hover {
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-color: #f799a354;
    /* backdrop-filter: blur(15px); */
    color: black;
}

li:hover .nav-text {
    color: black;
}

@media (max-width:990px) {

    .nav-text span,
    .drpdwn span {
        display: none;
    }
}

.drpdwn {
    width: 100%;
    height: 100%;
    background-color: inherit;
    color: black;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.drpdwn:hover {
    background-color: inherit;
}