.add-new-project {
    font-size: 20px;
    width: fit-content;
    padding: 12px 30px;
}

.ser {
    align-items: center;
    justify-content: end;
}

.ser h5 {
    margin: 0;
}

.ser input {
    padding: 8px 12px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(0, 153, 255);
    font-size: 20px;
}

@media (max-width: 500px) {
    .ser input {
        width: 70%;
    }
}

.project-tab {
    max-height: 550px;
}

.project-tab table {
    min-width: 700px;
}

button {
    border: none;
    padding: 6px 10px;
}

.delete {
    background-color: #ef5350;
}

.edit {
    background-color: #5c4ac7;
}

svg {
    color: var(--wit-clr);
}

tr td:not(:last-child) {
    line-height: 3;
    font-size: 15px;

}

tr {
    font-size: 20px;
}

.btns .btn {
    color: var(--wit-clr);
    padding: 8px 15px;
    width: 46%;
}

table {
    border: 1px solid rgb(123, 123, 123);
}

form select {
    padding: 14px 20px;
}

.addproject-form {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

@media (max-width: 768px) {
    .addproject-form {
        width: 100%;
    }
}

textarea {
    padding: 8px 12px;
}

.task-content .btn {
    width: 46%;
}