.department h3 {
    border-bottom: 1px solid rgb(0, 153, 255);
    position: relative;
}

.department h3::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border: 8px solid;
    border-color: rgb(0, 153, 255) transparent transparent rgb(0, 153, 255);
    top: 0;
    left: 0;
}

.department>div {
    background-color: white;
    box-shadow: 6px 8px 12px rgba(0 0 0 / 10%);
}

.department .left-side {
    flex-basis: 40%;
    height: fit-content;
}

.department .right-side {
    flex-basis: 60%;
}

button {
    border: none;
    padding: 6px 10px;
}

.delete {
    background-color: #ef5350;
}

.edit {
    background-color: #5c4ac7;
}

svg {
    color: white;
}

tr td:first-child {
    line-height: 2;
}

tr {
    font-size: 20px;
}

.btns button {
    color: white;
    padding: 8px 15px;
}

form input {
    padding: 10px 15px;
}

table {
    border: 1px solid rgb(123, 123, 123);
}