form.task {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

form.task .group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-list {
    font-size: 20px;
    width: fit-content;
    padding: 12px 30px;
}

.tasks {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.task-content {
    border-radius: 10px;
    backdrop-filter: blur(15px);
    background-color: var(--card-clr) !important;
    box-shadow: 7px 7px 12px var(--shadow-clr);
    color: var(--blk-clr);
}

.task-content a {
    font-size: 20px;
    font-weight: bold;
}

.task-list {
    font-size: 20px;
    width: fit-content;
    padding: 12px 30px;
}

.task-status {
    background-color: rgba(128, 0, 128, 0.32);
    color: purple;
    border-radius: 10px;
    width: fit-content;
}

.task-content-details>div {
    font-size: 20px;
    font-weight: bold;
}

.task-content-details>div span {
    font-size: 18px;
    color: rgb(121, 121, 121);
    font-weight: normal;
}

.task-status-details {
    color: #2e2e2e !important;
}

.task-details-btns .btn {
    width: fit-content !important;
    padding: 8px 12px;
}

.task-name span,
.project-name-details,
.employee-name-details,
.department-name span {
    /* color: rgb(0, 102, 255) !important; */
    color: #77adff !important;
}


#dark .task-content-details>div span {
    color: rgb(224, 224, 224) !important;
}

#dark :is(.task-name span, a.task-name, .employee-name a, .project-name-details, .employee-name-details, .project-name a) {
    /* color: rgb(0, 102, 255) !important; */
    color: #77adff !important;
}

#dark :is(.employee-content-details, .task-content-details, .project-content-details, .department-details-card) {
    background-color: #5151517a !important;
    border-radius: 15px;
}

#dark .employee-content-details>div span {
    color: rgb(224, 224, 224) !important;
}

#dark .project-content-details>div span {
    color: rgb(224, 224, 224) !important;
}

#dark .department-details-card>div span {
    color: rgb(224, 224, 224) !important;
}

#dark .department-name a {
    /* color: rgb(0, 102, 255) !important; */
    color: #77adff !important;
}

#dark .card-text a {
    color: #77adff !important;
}

#dark .running-table a {
    color: #77adff !important;
}