form.task {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

form.task .group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-list {
    font-size: 20px;
    width: fit-content;
    padding: 12px 30px;
}

.tasks {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.task-content {
    border-radius: 10px;
    backdrop-filter: blur(15px);
    background-color: var(--card-clr) !important;
    box-shadow: 7px 7px 12px var(--shadow-clr);
    color: var(--blk-clr);
}

.task-list {
    font-size: 20px;
    width: fit-content;
    padding: 12px 30px;
}

.task-status {
    background-color: rgba(128, 0, 128, 0.32);
    color: purple;
    border-radius: 10px;
    width: fit-content;
}

.task-content>div {
    font-size: 20px;
    font-weight: bold;
}

.task-content>div span {
    font-size: 18px;
    color: rgb(121, 121, 121);
    font-weight: normal;
}