:root {
  --grad-1-clr-d: #191919;
  --grad-2-clr-d: #151515;
  --grad-3-clr-d: #000000;
  --grad-1-clr-l: #ffe1bc;
  --grad-2-clr-l: #ffcfd1;
  --grad-3-clr-l: #f3c6f1;
  --selection-1-clr: #2c2a32;
  --selection-2-clr: #f7f7f7;
  --parent-clr: #ffffff8a;
  --child-clr: #ffffff7a;
  --card-clr: #ffffff54;
  --blk-clr: #000;
  --wit-clr: #fff;
  --shadow-clr: rgba(0 0 0 / 20%);
  --shadow-clr-d: rgba(255 255 255 / 20%);
  --parent-d-clr: #5d5d5d8a;
  --child-d-clr: #0000007a;
  --card-d-clr: var(--wit-clr);
  --card-d-bgclr: var(--blk-clr);
}


body {
  font-family: "poppins", sans-serif;
  height: fit-content;
  background-attachment: fixed;

}

::selection {
  background-color: var(--selection-1-clr);
  color: var(--selection-2-clr);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {

  background-color: #ffe1bc;

}

body::-webkit-scrollbar-thumb:hover {
  background-color: #fed39e;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
.btn {
  border-radius: 10px;
  border: none !important;
}

table button {
  padding: 0;
}

input,
select,
textarea {
  border: 1px solid #ddd !important;
  border-radius: 5px;
  transition: 0.3s all;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 7px rgb(0 0 0 / 40%);
  outline: none
}

form input {
  padding: 10px 15px;
  transition: 0.3s all;
}

form input[type="file"] {
  padding: 8px 10px;
  background-color: var(--wit-clr);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.ser {
  justify-content: end;
  padding: 10px;
  align-items: center;
}

.ser [type="search"] {
  padding: 8px 12px;
}

.save {
  background-color: #0099ff;
}

.save,
.cancel {
  transition: 0.2s all;
}

.save:hover {
  background-color: #017acb;
}

.cancel {
  background-color: #ef5350;
}

.cancel:hover {
  background-color: #c23e3c;
}

.main {
  max-width: 1550px;
  padding: 10px;
  border-radius: 25px;
  margin: 15px auto;
  width: 98% !important;
  background-color: var(--parent-clr);
}

.table-scrl {
  overflow: auto;
}

.parent>div {
  height: fit-content;
  border-radius: 25px;
  background-color: var(--child-clr);
}

.child-1 {
  width: 20%;
  min-width: 60px;
  padding: 10px;
}

.child-2 {
  width: 80%;
  padding: 25px;

}

.child-2>a {
  margin-top: 0;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 80px;
}

@media (max-width:600px) {
  .child-2 {
    padding: 15px;
  }

  .child-2>a {

    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .child-1 {
    width: 25%;
  }

  .child-2 {
    width: 75%;
  }
}

@media (max-width: 500px) {

  .child-1 {
    padding: 10px 0;
  }

  .child-2 {
    padding: 10px 5px;
  }

  .child-2>a {
    padding: 5px 10px !important;
  }

}

.table th {
  background-color: #5d6c5d !important;
  font-size: 17px;
  color: whitesmoke;
  padding: 10px 8px;
}

.table-scrl::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
}

.table-scrl::-webkit-scrollbar-thumb:hover {
  background: #3c3a44;
}

.table-scrl::-webkit-scrollbar-thumb {
  background: #5d6c5d;
  border-radius: 10px;
}

table {
  min-width: 700px;
}

/* for dark theme */
/* start switch */
.switch {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-inline: auto;
  padding: 10px;
  gap: 10px;
}

.react-switch-bg {
  background-color: rgb(195, 195, 195) !important;
}

#dark .react-switch-bg {
  background-color: var(--blk-clr) !important;
}

.react-switch-handle {
  background-color: rgb(101, 101, 101) !important;
  border: 2px solid var(--blk-clr) !important;
}

#dark .react-switch-handle {
  background-color: #fcb045 !important;
  border: 2px solid var(--wit-clr) !important;
}

@media (max-width: 990px) {
  .switch {
    flex-direction: column;
    font-size: 13px;
    padding: 10px 1px;
  }
}

/* end switch */

body:has(#light) {
  background: linear-gradient(106.37deg, var(--grad-1-clr-l) 29.63%, var(--grad-2-clr-l) 51.55%, var(--grad-3-clr-l) 90.85%);
}

body:has(#dark) {
  background: linear-gradient(106.37deg, var(--grad-1-clr-d) 29.63%, var(--grad-2-clr-d) 51.55%, var(--grad-3-clr-d) 90.85%);
  color: var(--wit-clr) !important;
}

#dark :is(a, button, .task-content, table>*, svg) {
  color: var(--wit-clr) !important;
}

#dark input:focus {
  box-shadow: 0 0 8px rgb(255 255 255 / 60%);
}

#dark {
  background-color: #0000008a;
}

#dark .down li:hover {
  background-color: #f799a3b0;
}

#dark :is(.first-card, .task-content) {
  background-color: var(--blk-clr) !important;
}

#dark .task-status {
  color: magenta;
}

body:has(#dark) .parent>div {
  background-color: #5151517a;
}

:is(a, button, .task-content):is(body:has(#dark)) {
  color: white !important;
}

body:has(#dark)::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(131, 131, 131, 0.3);
}

body:has(#dark)::-webkit-scrollbar-thumb {
  background-color: #292929;
  background-color: #515151b9;
}

body:has(#dark)::-webkit-scrollbar-thumb:hover {
  background-color: #1e1e1e;
}

body:has(#dark) :is(div, h2, h3, h4, h5, a, label, span, th, td, tr)::selection {
  background-color: whitesmoke;
  color: black;
}