body {
  background: linear-gradient(106.37deg, #ffe1bc 29.63%, #ffcfd1 51.55%, #f3c6f1 90.85%);
  font-family: "poppins", sans-serif;
  height: fit-content;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

.main {
  max-width: 1550px;
  padding: 10px;
  border-radius: 25px;
  margin: 20px auto;
  width: 98% !important;
  background-color: #ffffff8a;
}

.parent {
  justify-content: space-between;
  gap: 20px;
}

.parent>div {
  height: fit-content;
  border-radius: 25px;
}

.child-1 {
  width: 20%;
  min-width: 60px;
  /* backdrop-filter: blur(15px);
  background-color: #ffffff6b; */
  padding: 10px;
  background-color: #ffffff7a;
}

.child-2 {
  width: 80%;
  /* backdrop-filter: blur(15px);
  background-color: #ffffff6b; */
  padding: 25px;
}

@media (max-width:600px) {
  .child-2 {
    padding: 15px;
  }
}